body{
    background: white;
}
a{
    text-decoration: none;
}
/* a:hover{
    text-decoration: underline;
} */
.website{
    background: white;
    /* margin: 30px; */
    height: 50px;
    /* display: flex; */
    /* flex-direction: row; */
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 50px auto auto;
    /* justify-content: center; */
}
.nav-bar-left{
    /* background: red; */
    /* margin: 30px; */
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
}
.nav-bar-right{
    grid-area: 1 / 3 / span 1 / span 1;
    /* background: blue; */
    /* margin: 30px; */
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.nav-bar-item{
    
    width: 100px;
    /* line-height: 50px; */
    color: black;
    font-size: 15px;
    text-align: center;
    width: 50px;
    line-height: 25px;
    margin: 10px;
    /* padding: 0px 0px 25px 0px; */
}

.nav-bar-button{
    background: rgb(70, 70, 255);
    color: white;
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    margin: 10px;
}

#google-logo{
    display: block;
    height: auto;
    width: 25%;
    /* grid-area: 2 / 2 / span 1 / span 1; */
    /* float:right; */
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    /* background: rgb(255, 238, 206); */

    /* background: url("https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png"); */
}

#search-bar{
    background: green;
}

li{
    list-style: none;
  }

/* .hamburger{
    overflow: hidden;
    background-color: #333;
    position: relative;
    /* min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px; 

    
} 
/* .hamburger .nav-menu{
    /* display: none; */
    /* display: none; */
    /* left: -100%; 

} 

.hamburger a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

.hamburger .nav-link{
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: none;
    transition: 0.5s ease;
}
.hamburger .nav-link:hover{
    text-decoration: none;
    background-color: #ddd;
    color: black;
}

.hamburger .home{
    text-decoration: none;
    font-size: 2rem;
    background-color: #04AA6D;
    color: white;
}
 


/* .hamburger a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  } */
  
/* .hamburger a:hover {
    background-color: #ddd;
    color: black;
  } */






 
  .topnav {
    overflow: hidden;
    background-color: #333;
    border-radius: 70px;
    margin: 5px;


    /* justify-content: space-between;
    align-items: center;
    padding: 5px;  */
    /* position: relative; */
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #nav-links {
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav .a-tag {
    /* transform: translate(20px, 20px); */

    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    /* display: block; */
  }
  .topnav .link {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    /* transform: translate(-100px, -100px); */
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: black;
    display: block;
    /* position: absolute; */
    position: inherit;
    /* right: 0;
    top: 0; */
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: #04AA6D;
    color: white;
  }

/* ___________________________________________________________________________________________________________________________________________________________ */


#list-two{
    /* display: none; */
}

.icon-two{
    /* margin: 10px; */
    /* color: white;
    background: black; */
    /* border-radius: 50px; */
}

#menu-button{
    /* background: black; */
    margin: 10px;
}

.hamburger-icon {
    /* position: fixed; */
    display: block;
    cursor: pointer;
    margin: 0px 10px;
    padding: 0px 5px;
    /* background: red; */
    /* border-radius: 70px; */
  } 
   .bar {
    display: block;
    width: 20px;
    height: 3px;
    background-color: black;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  } 

.hamburger-menu{
    display: grid;
    grid-area: ;
    height: 70px;
    width: 100px;
    overflow-y:auto
}