body{
    background: white;
    min-width: 100px;
    min-height: 10px;

}
a{
    text-decoration: none;
}
.website{
    background: white;
    /* margin: 30px; */
    height: 50px;
    /* display: flex; */
    /* flex-direction: row; */
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 50px auto auto;
    /* justify-content: center; */
}
.nav-bar-left{
    /* background: red; */
    /* margin: 30px; */
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
}
.nav-bar-right{
    grid-area: 1 / 3 / span 1 / span 1;
    /* background: blue; */
    /* margin: 30px; */
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.nav-bar-item{
    
    width: 100px;
    /* line-height: 50px; */
    color: black;
    font-size: 15px;
    text-align: center;
    width: 50px;
    line-height: 25px;
    margin: 10px;
    /* padding: 0px 0px 25px 0px; */
}

.nav-bar-button{
    background: rgb(70, 70, 255);
    color: white;
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    margin: 10px;
    cursor: pointer;
}
.middle-page{
    grid-area: 3 / 2 / span 1 / span 1;
    margin: auto auto;
    /* display: grid;
    justify-content: center;
    align-items: center; */
}

.google-logo-container{

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 100%;
    margin-top: auto;
}
#google-logo{
    display:block;

    /* width: 275px; */
    /* padding: 10px 0px; */

    position: relative;
    margin-left: 50%; 
    margin-right: 50%;

    width: 25%;
    
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100px;
    flex: grow shrink basis; */


    /* background: rgb(255, 238, 206); */

    /* background: url("https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png"); */
}



/* ___________________________________________________________________________________________________________________________________________________________ */



#menu-button{
    /* background: black; */
    margin: 10px;
}

.hamburger-icon {
    /* position: fixed; */
    display: block;
    cursor: pointer;
    margin: 0px 10px;
    padding: 0px 5px;
    /* background: red; */
    /* border-radius: 70px; */
  } 
   .bar {
    display: block;
    width: 20px;
    height: 3px;
    background-color: black;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  } 

.hamburger-menu{
    display: none;
    /* grid-area: 1 / 1 / span 2 / span 2; */
    border: 1px solid grey;
    border-radius: 3px;
    text-align: center;
    height: 70px;
    width: 100px;
    overflow-y:auto;
    overflow-x: auto;
    padding: 0px;
    background: white;
    color: black;
    float: right;
    margin-left: auto;
    margin-right: 100px;
    /* position: sticky; */
    /* z-index: 1000; */
    
    
}

li{
    list-style: none;
    /* list-style-position: outside; */
  }

  .search-container{

    background: white;
    margin: 30px;
    height: 500px;
    display: grid;
    /* grid-template-areas: 3 2; */
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}

.search-bar-container{
    width: auto;
    /* background: teal; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-bar{
    grid-area: 1 / 2 / span 1 / span 1;
    background: white;
    border: 1px solid gray;
    border-radius: 50px;
    height: 40px;
    width: 575px;
    margin: 1% auto;  
    
}
.search-bar:focus{
    outline: none;
}
.search-button-container{
    width: auto;
    
    display: flex;
    justify-content: center;
    align-items: center;

}
.search-button{
    border: none;
    /* display: block; */
    cursor: pointer;
    background: rgb(230, 230, 230);
    width: 200px;
    height: 25px;
    padding: auto;
    margin: 0px 20px;
}
#search-norm{
    grid-area: 2 / 2 / span 1 / span 1;
}
#search-lucky{
    grid-area: 2 / 3 / span 1 / span 1;
}

#grid-container{
    background: teal;
    margin: 30px;
    height: 500px;
    width: auto;
    display: grid;

    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;





}
.grid-item{
    color: black;
    font-size: 25px;
    text-align: center;
    width: 70px;
    line-height: 40px;
    margin: 10px;
}
#one-grid{
    grid-area: 1 / 1 / span 1 / span 3;
    background-color: blue;
    width: auto;
    /* margin: auto; */
    /* margin: 0% 45%; */
      display: flex;
  justify-content: center;
  align-items: center;
}